// Body
$body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
// $blue: #3490dc;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66d9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;

$theme-custom-colors: (
    "primary-dark": #064f65,
    "primary": #096986,
    "secondary": #767171,
    "success": #14e082
);

@each $name, $color in $theme-custom-colors {
    .text-custom-#{$name} {
        color: $color;
    }
    .bg-custom-#{$name} {
        background: $color;
    }
    .border-custom-#{$name} {
        border-color: $color !important;
    }
}
