// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
// @import "../vendor/mdb/scss/mdb.scss";
// @import "~mdbootstrap/scss/mdb-free";
@import "~sweetalert2/src/sweetalert2";

// @import "./admin/datatable";

@import "./components/carousel-home";
@import "./components/carousel-partner";

@media (max-width: 768px) {
    .navbar {
        .navbar-brand {
            font-size: 1em;
        }
    }
}

#posts .content img {
    // width: 100%;
    max-width: 100%;
}

.boton3 {
    color: #318aac !important;
    transition: all 0s ease;
    position: relative;
}
.boton3:hover {
    background: #318aac;
    color: #fff !important;
}
