// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
// @import "../vendor/mdb/scss/mdb.scss";
// @import "~mdbootstrap/scss/mdb-free";
@import "~sweetalert2/src/sweetalert2";

// @import "./admin/datatable";

@import "./components/carousel-home";
@import "./components/carousel-partner";

.navbar {
    .navbar-brand span #id {
        font-size: 1em;
    }
}

.options-landing {
    // position: absolute;
    margin-top: -30px;
    margin-left: 10%;
    margin-right: 10%;
}
